[run]
branch = False

[report]
include =
    src/*
exclude_lines =
    # Disable type-checking imports
    if TYPE_CHECKING
    # Ignore abstract methods
    @(abc\.)?abstract
    \.\.\.

[html]
directory = dist/coverage